/*global styles*/
* {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
   display: flex;
   flex-direction: column;
}

.highscores {
    /* position in top left corner */
    position: absolute;
    top:0;
    left: 30px;
    font-size: 20px;
}

.countdown {
    /* position in top right corner */
    position: absolute;
    top:0;
    right: 30px;
    font-size: 20px;
}

/*buttons styles*/
button {
    background-color: rgb(59, 18, 97);
    border: 2px, 1px black;
    color: white;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border-radius: 20%;
    margin: 5px;
}

/* styles for Start page */
#Home {
    /* visibility:hidden; */
}

h1 {
    font-size: xx-large;;
}

p {
    line-height: .5;
    font-size: larger;
}

/* section/page Styles */

#Q1 {
    /* visibility:hidden; */
}

#Q2 {
    /* visibility:hidden; */
}

#Q3 {
    /* visibility:hidden; */
}

#Q4 {
    /* visibility:hidden; */
}

#Q5 {
    /* visibility:hidden; */
}

#yourScore {
    /* visibility:hidden; */
}


#scorePage {
    /* visibility:hidden; */
}



ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
}